@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text-color : rgb(59, 58, 58); 
  --sm-text-color : rgb(95, 94, 94); 
  --box-background : #fff;
  --box-shadow : #808080; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

